root = true

[*]
insert_final_newline = true
indent_style = space
indent_size = 4
end_of_line = lf

[*.cs]
csharp_new_line_before_open_brace = all
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true
csharp_space_after_cast = false
csharp_space_after_comma = true
csharp_space_before_comma = false
csharp_space_before_dot = false
csharp_space_after_keywords_in_control_flow_statements = false
csharp_space_before_colon_in_inheritance_clause = false
csharp_space_after_colon_in_inheritance_clause = true

dotnet_diagnostic.IDE0007.severity = error
csharp_style_var_when_type_is_apparent = true
csharp_style_var_for_built_in_types = true

dotnet_diagnostic.IDE0011.severity = warning
csharp_prefer_braces = true

dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = true
dotnet_style_collection_initializer = true
dotnet_style_object_initializer = true
dotnet_style_parentheses_in_arithmetic_binary_operators = always_for_clarity
dotnet_style_parentheses_in_relational_binary_operators = always_for_clarity
dotnet_style_parentheses_in_other_binary_operators = always_for_clarity
dotnet_style_prefer_inferred_anonymous_type_member_names = false
dotnet_style_qualification_for_field = false
dotnet_style_qualification_for_property = false
dotnet_style_qualification_for_method = false

dotnet_naming_rule.members_should_be_pascal_case.severity = warning
dotnet_naming_style.pascal_case_style.capitalization = pascal_case

# Note: there's some sed post-processing in precommit.sh to deal with semicolon comment quirks
dotnet_diagnostic.IDE0073.severity = error
file_header_template = Copyright 2021 Bob "Wombat" Hogg\n\nLicensed under the Apache License, Version 2.0 (the "License");\nyou may not use this file except in compliance with the License.\nYou may obtain a copy of the License at\n\n     http://www.apache.org/licenses/LICENSE-2.0\n\nUnless required by applicable law or agreed to in writing, software\ndistributed under the License is distributed on an "AS IS" BASIS,\nWITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.\nSee the License for the specific language governing permissions and\nlimitations under the License.

# Automatically removes redundant imports
dotnet_diagnostic.IDE0005.severity = warning

# IDE0035: Remove unreachable code
dotnet_diagnostic.IDE0035.severity = warning

# CLS compliance - don't know, don't really care
dotnet_diagnostic.CA1014.Severity = none
# Enum overlap (I'm fine with this)
dotnet_diagnostic.CA1069.severity = none
# we're only using the one assembly (excluding the generator)... no reason to use namespaces
dotnet_diagnostic.CA1050.Severity = none
# Don't want to embed pragmas into the generator...
dotnet_diagnostic.CA1024.Severity = none

# FIXME: just too overwhelmed by these (visible instance fields) at the moment
dotnet_diagnostic.CA1051.Severity = none
