.mono

# Godot-specific ignores
.import/
export.cfg
export_presets.cfg
*.aar

project/android/build
project/android/build/assets
project/android/build/build

.vscode

# XUnit - haven't figured out how to properly integrate this yet
obj
Entranced By The Hex.wav

*.orig
*~
*.swp

gendarme.html
docs
exports/WinApi386
exports/WinApiAmd64
exports/Linux
exports/HTML5
.secrets/*.keystore
exports/Android

# Android studio
project/android/.idea/

# Godot Git plugin
project/bin/win64/release/libgitapi.dll
project/bin/win64/release/libgitapi.exp
project/bin/win64/release/libgitapi.pdb
project/git_api.gdnlib
project/git_api.gdns

*.binlog

# Visual Studio
.vs

# Global stuff

*_BASE_*
*_REMOTE_*
*_LOCAL_*
*.orig
