# Dev tools
briefcase
flake8
nose
pylint
scancode-toolkit[full]
yapf

# FIXME: see https://github.com/nexB/scancode-toolkit/issues/2368
commoncode==20.10.20

# Critical libraries
pygame

# So, two things here. One, waiting on briefcase to support tkinter (https://github.com/beeware/briefcase/issues/383),
# so that I can use guizero. Toga is overkill for this. Two, https://github.com/beeware/toga/pull/769 seems to have
# caused the game to fail to load when running from briefcase.
toga==0.3.0-dev16

